.App {
  text-align: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-layout{
  @apply h-[60px] w-[350px] bg-red-300
}

.sub-heading{
  @apply font-primary font-semibold text-4xl text-black
}
.sub-heading-white{
  @apply font-primary font-semibold text-4xl text-white
}

.contents{
  @apply font-secondary font-medium text-base text-[#666C89]
}

.navlinks>span{
  @apply w-1 h-5 text-white font-secondary text-base font-semibold
}

.navline{
  @apply bg-white bg-opacity-30 h-5 w-[1px] ml-8
}
