

.App {
  text-align: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-layout{
  @apply h-[60px] w-[350px] bg-red-300
}

.sub-heading{
  @apply font-primary font-semibold text-3xl md:text-4xl text-black
}
.sub-heading-white{ 
  @apply font-primary font-semibold text-4xl text-white 
}

.contents{
  @apply font-secondary font-medium text-base text-[#666C89]
}

.navlinks>span {
  @apply  text-white font-secondary text-[14px]  md:text-[14px] font-medium md:font-semibold
}

.navline{
  @apply bg-white bg-opacity-30 h-5 w-[1px] 
}
.header-icons{
  @apply w-[40px] lg:w-[50px] h-[40px] lg:h-[50px]
}
.icons{
  @apply w-[40px] lg:w-[50px] h-[40px] lg:h-[50px]
}
.header-spans{
  @apply text-[11px] md:text-[11px] xl:text-sm font-secondary font-medium text-white

}
.padding{
  @apply px-4 md:px-12 xl:px-20
}
.bgc{
  background-color: rgba(4, 28, 55, .5);
}

.custom-button {
  position: relative;
  padding: 6px 16px; /* Adjust padding as needed */
  background-color: #E8E8E880; /* Button background color */
  /* color: #1C1F35; */
  border: none; /* Remove default button border */
  font-size: 16px; /* Adjust font size as needed */
}

.custom-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4%; 
  background-color: #ff0000;
  background-image:linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%)
}
.custom-button-banner {
  position: relative;
  padding: 6px 20px; 
  background-color: rgba(4, 28, 55, .5);

  border: none; 

}

.custom-button-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2%;  
   background-color: rgba(4, 28, 55, .5);
  background-image:linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%)
}